/* =======================
   Browser Upgrade Prompt
   ======================= */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #edc9f3;
  text-shadow: none;
}
::selection {
  background: #edc9f3;
  text-shadow: none;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
footer .progress {
  margin-bottom: 10px;
}
.navbar-brand {
  background-image: url(http://www.gravatar.com/avatar/5303e3a137fd8e2c58099bec8a51be2d);
  text-indent: -999em;
  width: 50px;
  border-radius: 3px;
  background-position: -16px 0;
}
.contact img {
  width: 50px;
}
