@{
    ViewBag.Title = "Tobias Lundin";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Snick snack on track</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sweet binary home</h2>
        <p>
            This is where I put things I cant fit into my apartment.
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://www.google.se/maps/place/Akersveien+19,+0180+Oslo,+Norway/">Map &raquo;</a></p>
    </div>
</div>