@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Find me elsewhere</h3>
<div class="contact">
    <ul class="list-inline">
        <li>
            <a href="https://github.com/tolu" class="text-info" data-track="clickedGitHubLink">
                <i class="fa fa-github-alt fa-4x"></i>
                GitHub
            </a>
        </li>
        <li>
            <a href="http://www.facebook.com/toblu567" class="" data-track="clickedFacebookLink">
                <i class="fa fa-facebook-square fa-4x"></i>
                facebook
            </a>
        </li>
        <li>
            <a href="http://www.linkedin.com/in/tobiaslundin" class="text-warning" data-track="clickedLinkedInLink">
                <i class="fa fa-linkedin-square fa-4x"></i>
                linked in
            </a>
        </li>
    </ul>
</div>
<h5>Adress</h5>
<address>
    Ankerveien 94D<br />
    0677, Oslo, Norway<br />
</address>
<a class="btn btn-default" target="_blank" href="https://www.google.se/maps/place/Ankerveien+94D,+0677+Oslo,+Norway/">Map &raquo;</a>