@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>LinkedIn motto</h3>

<p>My dream is to find, or create, the job that makes a perfect blend of social life, hobbies and work.</p>

<p>Meanwhile I´ll keep learning about new technologies and best practices, meeting exciting people and getting to know different organizations and I'll keep traveling to places I´ve not yet placed my foot to broaden my view and to aquire new perspectives of life.</p>

<p>I´ll read interesting books about psychology and philosophy, hopefully getting a grip on the nature of reality, the value of time or the ethics of gods.</p>

<p>
    I´ve been engaged in many student societies and love what it taught me about what a few people could do with just a burning desire to help others with a zeroed account as baseline.
    I´ve recruited students to work at the student pub, I´ve been a councillor in the student delegate body.
    I've arranged the reception for the new students, from Sweden and abroad and learned valuable lessons about cultural differences.
    I´m very sociable and through my commitments I´ve aquired a large network of friends and acquaintances.
</p>

<p>I specialize in front end development</p>

<p>Since 2011 I've been working with NRK (The Norwegian public broadcaster) building https://tv.nrk.no, http://radio.nrk.no, Chromecast and AppleTV-apps</p>