@{
    ViewBag.Title = "Tobias Lundin";
}

<div class="jumbotron">
    <img class="pull-right" src="@Url.Image("tobias.png")" width="150px">
    <h1>Welcome!</h1>
    <p class="lead">To my internet lair of ... me x 3.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>A Binary Home</h2>
        <p>
            This location has been in the works but never really working since dawn of apes but at least now it's a shiny solution built with ASP.NET vNext.
        </p>
        <p>
            I try to fill this space with fun playgrounds, contact information and a portfolio. Hopefully a blog will take shape some day whe I really figure out what to write about :)
        </p>
    </div>
</div>