@{
    ViewBag.Title = "Slides";
}
<h2>Slides</h2>
<div class="row">
    <div class="col-sm-6">
        <h2>Intro to JS Test</h2>
        <a href="http://slides.com/tolu/js-testing-intro" class="thumbnail" target="_blank"><img src="@Url.Image("jstest_thumb.png")"></a>
    </div>
    <div class="col-sm-6">
        <h2>RealTime Web</h2>
        <a href="http://slides.com/tolu/real-time-web" class="thumbnail" target="_blank"><img src="@Url.Image("realtime_thumb.png")"></a>
    </div>
</div>